// Reset CSS
@import "reset.scss";



// Variables
$Cormorant: 'Cormorant', serif;
$TenorSans: 'Tenor Sans', sans-serif;
$Denistina: 'Denistina';
$mr_HamiltoneG: 'mr_HamiltoneG';



// Mixins
@mixin font ($fs, $lh) {
	font-size: $fs;
	line-height: $lh;
}

@mixin flex ($f, $fd, $g, $ai, $jc) {
	display: $f;
	flex-direction: $fd;
	gap: $g;
	align-items: $ai;
	justify-content: $jc;
}



body {
	font-family: $TenorSans;
	@include font(16px, 24px);
	color: #000;

	background: #F3E3BB;
}

@media (max-width: 767.5px) {
	body {
		@include font(15px, 22.5px);
	}
}
@media (max-width: 575.5px) {
	body {
		@include font(14px, 21px);
	}
}

h1 {
	font-family: $mr_HamiltoneG;
	@include font(200px, 66.5%);
}
h2 {
	@include font(45px, 53px);
	letter-spacing: 0.3em;
	text-transform: uppercase;
	color: #C5B788;
}
h3 {
	font-family: $mr_HamiltoneG;
	@include font(60px, 66.5%);
}
h4 {
	@include font(20px, 23px);
	letter-spacing: 0.3em;
	text-transform: uppercase;
}

@media (max-width: 1600px) {
	h1 {
		font-size: 180px;
	}
}
@media (max-width: 1400px) {
	h1 {
		font-size: 155px;
	}
}
@media (max-width: 1200px) {
	h1 {
		font-size: 120px;
	}
}
@media (max-width: 991.5px) {
	h1 {
		font-size: 90px;
	}
	h2 {
		@include font(40px, 47px);
	}
	h3 {
		font-size: 50px;
	}
}
@media (max-width: 767.5px) {
	h1 {
		font-size: 65px;
	}
	h3 {
		font-size: 40px;
	}
	h4 {
		@include font(18px, 22px);
	}
}
@media (max-width: 575.5px) {
	h1 {
		@include font(60px, 70%);
	}
	h2 {
		@include font(35px, 41px);
	}
	h3 {
		font-size: 30px;
	}
	h4 {
		@include font(16px, 131.01%);
	}
}


.bg-image {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;

	width: 100%;
	height: 110%;

	background: url("../img/bg-image.jpg");
	mix-blend-mode: multiply;
	background-size: cover;
	background-position: center;

	pointer-events: none;
}



.btn-confirm {
	position: fixed;
	bottom: 8vh;
	left: 2.46955vw;
	z-index: 3;

	width: 194px;
	height: 194px;

	background: url("../img/check-mark.svg") no-repeat, #EBDCB5;
	background-position: center;
	background-size: 89px 80px;
	border-radius: 100px;

	overflow: hidden;

	svg {
		width: 100%;
		height: 100%;

		animation: spin 30s linear infinite;

		@keyframes spin {
		  	0% { transform: rotate(0deg); }
		  	100% { transform: rotate(360deg); }
		}
	}
}

@media (max-width: 1600px) {
	.btn-confirm {
		bottom: 7vh;
		left: 2.25vw;

		width: 180px;
		height: 180px;
	}
}
@media (max-width: 1400px) {
	.btn-confirm {
		bottom: 6vh;
		left: 2vw;

		width: 150px;
		height: 150px;

		background-size: 75px 65px;
	}
}
@media (max-width: 1200px) {
	.btn-confirm {
		bottom: 5vh;
		left: 1.75vw;

		width: 130px;
		height: 130px;

		background-size: 65px 55px;
	}
}
@media (max-width: 991.5px) {
	.btn-confirm {
		bottom: 4vh;
		left: 1.5vw;

		width: 110px;
		height: 110px;

		background-size: 60px 50px;
	}
}
@media (max-width: 767.5px) {
	.btn-confirm {
		bottom: 3.5vh;
		left: auto;
		right: 1.5vw;

		width: 95px;
		height: 95px;
	}
}
@media (max-width: 575.5px) {
	.btn-confirm {
		bottom: 2.6vh;
		right: 1vw;

		width: 79px;
		height: 79px;

		background-size: 44px 40px;
	}
}



.header {
	position: relative;
	z-index: 2;

	&__container {
		padding: 9.04vh 0 8.53628vh 0;
		height: var(--vh100, 100vh);

		@include flex(flex, column, 0, center, space-between);

		text-align: center;
	}
	&__top {
		@include flex(inline-flex, row, 0, flex-start, center);

		@include font(32px, 37px);
		letter-spacing: 0.355em;
		text-transform: uppercase;

		span:nth-child(1),
		span:nth-child(3) {
			padding-top: 10.89px;
		}
		span:nth-child(2) {
			font-family: $Denistina;
			@include font(104.336px, 66.5%);
			color: #C5B788;
		}
	}
	&__center {
		&-invite {
			@include font(20px, 23px);
			letter-spacing: 0.3em;
			text-transform: uppercase;
		}
		&-names {
			margin: 80px 0 100px 0;
		}
		&-text {
			display: inline-block;
			max-width: 650px;

			@include font(20px, 131%);
			letter-spacing: 0.3em;
			text-transform: uppercase;

			br {
				display: none;
			}
		}
	}
	time {
		display: inline-block;
		max-width: 285px;

		@include font(32px, 37px);
		letter-spacing: 0.355em;
		text-transform: uppercase;
	}
}

@media (max-width: 1600px) {
	.header {
		&__container {
			padding: 7vh 0 6.5vh 0;
		}
	}
}
@media (max-width: 1400px) {
	.header {
		&__container {
			padding: 6vh 0 5.5vh 0;
		}
	}
}
@media (max-width: 1200px) {
	.header {
		&__container {
			padding: 5vh 0 4.5vh 0;
		}

		&__top {
			@include font(30px, 35px);

			span:nth-child(1),
			span:nth-child(3) {
				padding-top: 10px;
			}

			span:nth-child(2) {
				font-size: 100px;
			}
		}
		&__center {
			&-invite {
				@include font(18px, 21px);
			}
			&-names {
				margin: 65px 0 80px 0;
			}
			&-text {
				max-width: 600px;
				font-size: 18px;
			}
		}
		time {
			@include font(30px, 35px);
		}
	}
}
@media (max-width: 991.5px) {
	.header {
		&__container {
			padding: 4vh 0 3.5vh 0;
		}

		&__top {
			@include font(26px, 30px);

			span:nth-child(1),
			span:nth-child(3) {
				padding-top: 8px;
			}

			span:nth-child(2) {
				font-size: 85px;
			}
		}
		&__center {
			&-invite {
				@include font(17px, 20px);
			}
			&-names {
				margin: 50px 0 55px 0;
			}
			&-text {
				max-width: 550px;
				font-size: 17px;
			}
		}
		time {
			@include font(26px, 30px);
		}
	}
}
@media (max-width: 767.5px) {
	.header {
		&__container {
			padding: 4vh 0 6vh 0;
		}

		&__top {
			@include font(22px, 26px);

			span:nth-child(1),
			span:nth-child(3) {
				padding-top: 6px;
			}

			span:nth-child(2) {
				font-size: 75px;
			}
		}
		&__center {
			&-invite {
				@include font(16px, 19px);
			}
			&-names {
				margin: 40px 0 45px 0;
			}
			&-text {
				max-width: 500px;
				font-size: 16px;
			}
		}
		time {
			@include font(22px, 26px);
		}
	}
}
@media (max-width: 575.5px) {
	.header {
		&__container {
			padding: 3.5vh 0 8.76vh 0;
		}

		&__top {
			@include font(14px, 16px);

			span:nth-child(1),
			span:nth-child(3) {
				padding-top: 0px;
			}

			span:nth-child(2) {
				@include font(55px, 26.78px);
			}
		}
		&__center {
			&-invite {
				@include font(16px, 19px);
			}
			&-names {
				margin: 40px 0;
			}
			&-text {
				max-width: 340px;
				font-size: 14px;
			}
		}
		time {
			max-width: 170px;

			@include font(18px, 21px);
		}
	}
}
@media (max-width: 380px) {
	.header {
		&__center {
			&-text {
				max-width: 280px;

				br {
					display: block;
				}
			}
		}
	}
}



.main {
	position: relative;
	z-index: 2;

	padding: 50px 0 130px 0;
}

@media (max-width: 1200px) {
	.main {
		padding: 50px 0 115px 0;
	}
}
@media (max-width: 991.5px) {
	.main {
		padding: 40px 0 100px 0;
	}
}
@media (max-width: 767.5px) {
	.main {
		padding: 30px 0 85px 0;
	}
}
@media (max-width: 767.5px) {
	.main {
		padding: 20px 0 70px 0;
	}
}



.h2-mb-tac {
	margin-bottom: 60px;

	text-align: center;
}

@media (max-width: 991.5px) {
	.h2-mb-tac {
		margin-bottom: 50px;
	}
}
@media (max-width: 575.5px) {
	.h2-mb-tac {
		margin-bottom: 40px;
	}
}



.schedule {

	&__container {
		max-width: calc(1423px + 40px + 40px);
		padding: 0 40px;
		margin: 0 auto;
	}
	&__content {}
	&__item {
		position: relative;

		margin-top: -137px;
		@include flex(flex, row, 105px, stretch, stretch);

		text-align: right;

		&-content,
		&-empty {
			width: calc(50% - 107px); // 50% - gap + &-line/2
		}

		&-content {
			@include flex(flex, column, 40px, flex-end, flex-start);

			time {
				max-width: 240px;
				display: inline-block;

				@include font(20px, 23px);
				letter-spacing: 0.3em;
				text-transform: uppercase;
			}
			p {
				position: relative;
				z-index: 1;

				a {
					text-decoration: underline;
					color: #000;
				}
			}
		}

		&-line {
			width: 4px;
			background: #C5B788;
		}

		&:before {
			content: "";

			position: absolute;
			left: 50%;
			top: 9.5px;

			display: inline-block;
			width: 21px;
			height: 21px;

			border: 4px solid #C5B788;
			background: #F3E3BB;
			border-radius: 21px;

			transform: translate(-50%, 0);
		}
	}
	&__item:nth-child(1) {
		margin-top: 0;

		.schedule__item-content {
			p {
				max-width: 536px;
			}
		}
		.schedule__item-line {
			margin-top: 12px;
		}
	}
	&__item:nth-child(3) {
		.schedule__item-content {
			p {
				max-width: 592px;
			}
		}
	}
	&__item:nth-child(even) {
		flex-direction: row-reverse;

		text-align: left;

		.schedule__item-content {
			align-items: flex-start;
		}
	}
}

@media (max-width: 1400px) {
	.schedule {
		&__item {
			gap: 60px;

			&-content,
			&-empty {
				width: calc(50% - 62px); // 50% - gap + &-line/2
			}
		}
	}
}
@media (max-width: 991.5px) {
	.schedule {
		&__item {
			gap: 35px;

			&-content,
			&-empty {
				width: calc(50% - 37px); // 50% - gap + &-line/2
			}

			&-content {
				gap: 35px;

				time {
					max-width: 215px;
					@include font(18px, 21px);
				}
			}

			&:before {
				top: 8px;
			}
		}
	}
}
@media (max-width: 767.5px) {
	.schedule {
		&__container {
			padding: 0 30px;
		}
		&__item {
			margin-top: 0;
			flex-direction: row-reverse;

			text-align: left;

			gap: 30px;

			&-content {
				padding-top: 60px;
				width: calc(100% - 34px); // 100% - gap + &-line
				gap: 25px;

				align-items: flex-start;
			}
			&-empty {
				display: none;
			}

			&:before {
				top: 64px;
				left: 2px;
			}
		}
		&__item:nth-child(1) {
			.schedule__item-content {
				padding-top: 0;
			}
			&:before {
				top: 4px;
			}
		}
	}
}
@media (max-width: 575.5px) {
	.schedule {
		&__container {
			padding: 0 20px;	
		}
		&__item {
			gap: 16px;

			&-content {
				padding-top: 40px;
				width: calc(100% - 18px); // 100% - gap + &-line
				gap: 20px;

				time {
					max-width: 190px;
					@include font(16px, 131.01%);
				}
			}
			&-line {
				width: 2px;
			}

			&:before {
				top: 42.5px;
				left: 1px;

				width: 12px;
				height: 12px;

				border: 2px solid #C5B788;
			}
		}
		&__item:nth-child(1) {
			&:before {
				top: 2.5px;
			}
		}
	}
}



.mt130 {
	margin-top: 130px;
}

@media (max-width: 1200px) {
	.mt130 {
		margin-top: 115px;
	}
}
@media (max-width: 991.5px) {
	.mt130 {
		margin-top: 100px;
	}
}
@media (max-width: 767.5px) {
	.mt130 {
		margin-top: 85px;
	}
}
@media (max-width: 767.5px) {
	.mt130 {
		margin-top: 70px;
	}
}



.concept {

	&__container {
		max-width: calc(774px + 40px + 40px); // width + padding-left + padding-right
		padding: 0 40px;
		margin: 0 auto;
	}
	&__content {
		@include flex(flex, column, 40px, center, flex-start);
	}
	&__item {
		text-align: center;

		p {
			margin-top: 8px;
		}
	}
	&__item:nth-child(1) {
		max-width: 742px;
	}
	&__item:nth-child(4) {
		max-width: 641px;
	}
}

@media (max-width: 767.5px) {
	.concept {
		&__container {
			padding: 0 30px;
		}
	}
}
@media (max-width: 575.5px) {
	.concept {
		&__container {
			padding: 0 20px;
		}
	}
}
